force-app/main/default/flows/Create_Commissions_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Create Commissions Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Commissions Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Commission_Creation_Screen</name>
        <label>Create Commission Records</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>Commission_Creator_Component</name>
            <extensionName>c:commissionCreator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>OpportunityId</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <outputParameters>
                <assignToReference>CreatedCommissionsCount</assignToReference>
                <name>commissionsCreated</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Commission Creation Complete</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style="color: rgb(68, 133, 0);"&gt;✓ Success!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;Created {!CreatedCommissionsCount} commission records for this opportunity.&lt;/p&gt;&lt;p&gt;&lt;/p&gt;&lt;p&gt;You can view and manage these commissions from the Opportunity's related list or the Commissions tab.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commission_Creation_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedCommissionsCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>