force-app/main/default/flows/Lead_Assignment_Trigger_v1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Group_Member_Time_Stamp</name>
        <label>Assign Group Member Time Stamp</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AssignmentMemberToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignment_Group_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentMemberToUpdate.Last_Assignment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Assignment_Group_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Assignment_Member</name>
        <label>Check Assignment Member</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_Member_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignment_Group_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Owner_via_Round_Robin</targetReference>
            </connector>
            <label>Assignment Member available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Assignment Trigger v1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Assignment Trigger v1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Assignment_Group</name>
        <label>Get Assignment Group</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignment_Group_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Lead Round Robin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Object_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignment_Group_Member</name>
        <label>Get Assignment Group Member</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Assignment_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assignment_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignment_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assignment_Group_Member__c</object>
        <sortField>Last_Assignment_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment_Group_Member</name>
        <label>Update Assignment Group Member</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputReference>AssignmentMemberToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner_via_Round_Robin</name>
        <label>Update Lead Owner via Round Robin</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Assign_Group_Member_Time_Stamp</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Assignment_Group_Member.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignment_Group</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignmentMemberToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Assignment_Group_Member__c</objectType>
    </variables>
</Flow>
