force-app/main/default/flows/Opportunity_After_Update_Record_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Default_New_Opportunity_Values</name>
        <label>Assign Default New Opportunity Values</label>
        <locationX>490</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account.Name}_New_{!$Record.CloseDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_New_Opportunity_Values2</name>
        <label>Assign Default New Opportunity Values</label>
        <locationX>1194</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account.Name}_New_{!$Record.CloseDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Opportunity_Values</name>
        <label>Assign Default Opportunity Values</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account.Name}_Existing_{!$Record.CloseDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Default_Opportunity_Values2</name>
        <label>Assign Default Opportunity Values</label>
        <locationX>754</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Existing Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Account.Name}_Existing_{!$Record.CloseDate}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Total_Values</name>
        <label>Calculate Total Values</label>
        <locationX>712</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfClosedOwnOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountOfClosedOwnOppt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Oppty.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Conduct_Initial_Calculation</name>
        <label>Conduct Initial Calculation</label>
        <locationX>556</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountOfClosedOwnOppt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNumberOfClosedOwnOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Related_Oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Current_Oppty_Stage</name>
        <label>Check Current Oppty Stage</label>
        <locationX>688</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Check_Related_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Current_Oppty_on_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Conduct_Initial_Calculation</targetReference>
            </connector>
            <label>On Current Oppty on Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_First_Oppty</name>
        <label>Check First Oppty</label>
        <locationX>886</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_First_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_First_Opportunity_Created.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Opportunity_Values2</targetReference>
            </connector>
            <label>Not First Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Oppty_Action</name>
        <label>Check Oppty Action</label>
        <locationX>688</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Related_Opportunity2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>On Edit</defaultConnectorLabel>
        <rules>
            <name>On_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Opportunity</targetReference>
            </connector>
            <label>On Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Oppty_Stage</name>
        <label>Check Oppty Stage</label>
        <locationX>844</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_Oppty.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Total_Values</targetReference>
            </connector>
            <label>On Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Opportunity</name>
        <label>Check Related Opportunity</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_New_Opportunity_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Oppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_First_Oppty</targetReference>
            </connector>
            <label>Has Related Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Opportunity2</name>
        <label>Check Related Opportunity</label>
        <locationX>1040</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_New_Opportunity_Values2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Opportunity2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Oppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_First_Oppty</targetReference>
            </connector>
            <label>Has Related Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Oppty</name>
        <label>Check Related Oppty</label>
        <locationX>688</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Update_Current_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Oppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Oppty</targetReference>
            </connector>
            <label>Has Related Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_First_Oppty</name>
        <label>Check First Oppty</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Current_Oppty_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Not_First_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_First_Opportunity_Created.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Default_Opportunity_Values</targetReference>
            </connector>
            <label>Copy 1 of Not First Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Closed_Won_Oppty</name>
        <label>Has Closed Won Oppty</label>
        <locationX>688</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Default_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberOfClosedOwnOppty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Account</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity After Update Record Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Update Record Trigger Flow</label>
    <loops>
        <name>Loop_Related_Oppty</name>
        <label>Loop Related Oppty</label>
        <locationX>624</locationX>
        <locationY>1799</locationY>
        <collectionReference>Get_Related_Oppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Oppty_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Oppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_First_Opportunity_Created</name>
        <label>Get First Opportunity Created</label>
        <locationX>688</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Oppty</name>
        <label>Get Related Oppty</label>
        <locationX>688</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Oppty_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Oppty</name>
        <label>Update Current Oppty</label>
        <locationX>688</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Has_Closed_Won_Oppty</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>556</locationX>
        <locationY>2687</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalNumberOfClosedOwnOppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalAmountOfClosedOwnOppt</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Default_Account</name>
        <label>Update Parent Default Account</label>
        <locationX>820</locationX>
        <locationY>2687</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Closed_Won_Opportunities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_of_Closed_Won_Opportunities__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_First_Opportunity_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TotalAmountOfClosedOwnOppt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalNumberOfClosedOwnOppty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
