force-app/main/default/flows/Opportunity_Delete_Record_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_existing_Closed_Won_Opportunities_on_Account</name>
        <label>Calculate existing Closed Won Opportunities on Account</label>
        <locationX>162</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>TotalNumberOfClosedOwnOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalAmountOfClosedOwnOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Oppty.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_existing_Closed_Won_Opportunities_on_Account</name>
        <label>Copy 1 of Calculate existing Closed Won Opportunities on Account</label>
        <locationX>290</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountOfClosedOwnOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalNumberOfClosedOwnOppty</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Closed_Won_Oppty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Related_Closed_Won_Oppty</name>
        <label>Check Related Closed Won Oppty</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Calculate_existing_Closed_Won_Opportunities_on_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Closed_Won_Oppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Closed_Won_Oppty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Related_Oppty</targetReference>
            </connector>
            <label>Has Related Closed Won Oppty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Closed_Won_Oppty</name>
        <label>Has Closed Won Oppty</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Default_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalNumberOfClosedOwnOppty</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Account</targetReference>
            </connector>
            <label>&gt; 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Delete Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Delete Record Trigger</label>
    <loops>
        <name>Loop_Related_Oppty</name>
        <label>Loop Related Oppty</label>
        <locationX>74</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Related_Closed_Won_Oppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_existing_Closed_Won_Opportunities_on_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Closed_Won_Oppty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Closed_Won_Oppty</name>
        <label>Get Related Closed Won Oppty</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_Closed_Won_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Account</name>
        <label>Update Parent Account</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalNumberOfClosedOwnOppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalAmountOfClosedOwnOppty</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Default_Account</name>
        <label>Update Parent Default Account</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalNumberOfClosedOwnOppty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value_of_Closed_Won_Opportunities__c</field>
            <value>
                <elementReference>TotalAmountOfClosedOwnOppty</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Closed_Won_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAmountOfClosedOwnOppty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalNumberOfClosedOwnOppty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
