force-app/main/default/flows/Renewal_Flow_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_OpportunityLineItemSchedule</name>
        <label>Create OpportunityLineItemSchedule</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <actionName>OpptyLineItemSchedulerGenerator</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>oldOpportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>nOppty.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpptyLineItemSchedulerGenerator</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>nOpptyProductsForCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>nOpptyProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Oppty</name>
        <label>Assign New Oppty</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>nOppty.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOppty.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOppty.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOppty.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.Name} Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOppty.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_nOpptyProduct</name>
        <label>Assign nOpptyProduct</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>nOpptyProduct.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOpptyProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOpptyProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nOpptyProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Oppty_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>NewRenewaldate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Renewal_Date__c},12)</expression>
    </formulas>
    <formulas>
        <name>todayPlus365</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <interviewLabel>Renewal Flow V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Flow V1</label>
    <loops>
        <name>Loop_Oppty_Products</name>
        <label>Loop Oppty Products</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Oppty_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_nOpptyProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Oppty_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Oppty</name>
        <label>Create Oppty</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Oppty_Products</targetReference>
        </connector>
        <inputReference>nOppty</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Oppty_Products</name>
        <label>Create Oppty Products</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Create_OpportunityLineItemSchedule</targetReference>
        </connector>
        <inputReference>nOpptyProductsForCreation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppty_Products</name>
        <label>Get Oppty Products</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Oppty_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_Oppty</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpportunityLineItemSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>NewOpportunityLineItemScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItemSchedule</objectType>
    </variables>
    <variables>
        <name>nOppty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>nOpptyProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>nOpptyProductsForCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
